---
import Layout from "../layouts/Layout.astro";
import MissionBar from "../components/MissionBar.astro";
import Hero from "../components/Hero.astro";
import Ticker from "../components/Ticker.astro";
import Telemetry from "../components/Telemetry.astro";
import Manifesto from "../components/Manifesto.astro";
import Protocols from "../components/Protocols.astro";
import Roadmap from "../components/Roadmap.astro";
import Transmissions from "../components/Transmissions.astro";
import Channels from "../components/Channels.astro";
import FinalCTA from "../components/FinalCTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <MissionBar />
  <main>
    <Hero />
    <Ticker />
    <Telemetry />
    <Manifesto />
    <Protocols />
    <Roadmap />
    <Transmissions />
    <Channels />
    <FinalCTA />
  </main>
  <Footer />
</Layout>
